body {
    background-color: #193333;
    color: #CCFFFF;
    font-family: "Space Grotesk", sans-serif;
    text-align: center;
    margin: auto;
    max-width: 1000px;
}

h1 {
    font-size: 90px;
    margin-top: 60px;
    letter-spacing: 2px;
}

h2 {
    margin-top: 80px;
}

p {
    margin-top: 10px;
}

.leht {
    margin-top: 60px;
}

.nupud {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    font-family: "JetBrains Mono", monospace;
    background-color: #8CDDDD;
    color: #193333;
    border: none;
    padding: 10px 25px;
    margin: 5px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #718888;
}